# Pandas

In [1]:
%config InlineBackend.figure_format = 'retina'

In [2]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from matplotlib import rcParams

In [3]:
# We need to do it in a separate cell. See:
# https://github.com/jupyter/notebook/issues/3385
plt.style.use('default')
rcParams.update({'font.size':12})

## Basic Usage

Iris data is one of the typical statistical sample used by statisticians. See [this wikipedia](https://en.wikipedia.org/wiki/Iris_flower_data_set)
![](https://upload.wikimedia.org/wikipedia/commons/thumb/7/7f/Mature_flower_diagram.svg/1920px-Mature_flower_diagram.svg.png)

In [4]:
iris = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')
print(type(iris))

<class 'pandas.core.frame.DataFrame'>

In [5]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [6]:
iris.tail(6)

     sepal_length  sepal_width  petal_length  petal_width    species
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [7]:
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

You can save by ``.to_csv()``, print to html by ``to_html()``, convert to numpy by ``.to_numpy()``, etc:

In [8]:
# iris.to_csv("iris_data.csv")
# iris.to_html()
# iris.to_numpy()

## Selection of Columns and Rows

If you select a column or a row, it now becomes ``pandas.Series``, not ``DataFrame``:

In [9]:
sep_len = iris["sepal_length"]

print(type(sep_len))
sep_len.head()

<class 'pandas.core.series.Series'>

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
Name: sepal_length, dtype: float64

Convert to numpy:

In [10]:
sep_len.to_numpy()  
# Identical to sep_len.values

array([5.1, 4.9, 4.7, 4.6, 5. , 5.4, 4.6, 5. , 4.4, 4.9, 5.4, 4.8, 4.8,
       4.3, 5.8, 5.7, 5.4, 5.1, 5.7, 5.1, 5.4, 5.1, 4.6, 5.1, 4.8, 5. ,
       5. , 5.2, 5.2, 4.7, 4.8, 5.4, 5.2, 5.5, 4.9, 5. , 5.5, 4.9, 4.4,
       5.1, 5. , 4.5, 4.4, 5. , 5.1, 4.8, 5.1, 4.6, 5.3, 5. , 7. , 6.4,
       6.9, 5.5, 6.5, 5.7, 6.3, 4.9, 6.6, 5.2, 5. , 5.9, 6. , 6.1, 5.6,
       6.7, 5.6, 5.8, 6.2, 5.6, 5.9, 6.1, 6.3, 6.1, 6.4, 6.6, 6.8, 6.7,
       6. , 5.7, 5.5, 5.5, 5.8, 6. , 5.4, 6. , 6.7, 6.3, 5.6, 5.5, 5.5,
       6.1, 5.8, 5. , 5.6, 5.7, 5.7, 6.2, 5.1, 5.7, 6.3, 5.8, 7.1, 6.3,
       6.5, 7.6, 4.9, 7.3, 6.7, 7.2, 6.5, 6.4, 6.8, 5.7, 5.8, 6.4, 6.5,
       7.7, 7.7, 6. , 6.9, 5.6, 7.7, 6.3, 6.7, 7.2, 6.2, 6.1, 6.4, 7.2,
       7.4, 7.9, 6.4, 6.3, 6.1, 7.7, 6.3, 6.4, 6. , 6.9, 6.7, 6.9, 5.8,
       6.8, 6.7, 6.7, 6.3, 6.5, 6.2, 5.9])

In [11]:
row_0 = iris.iloc[0]

print(type(row_0))
row_0

<class 'pandas.core.series.Series'>

sepal_length       5.1
sepal_width        3.5
petal_length       1.4
petal_width        0.2
species         setosa
Name: 0, dtype: object

In [12]:
row_0.values

array([5.1, 3.5, 1.4, 0.2, 'setosa'], dtype=object)

To select only one:

In [13]:
iris.iloc[0, 1]

3.5

## ``loc`` and ``iloc``

* ``loc`` is used when you want to use column name and row index
* ``iloc`` is used when you want to use integer indexing

In [14]:
iris.iloc[0, 1]

3.5

In [15]:
iris.loc[0, "sepal_width"]

3.5

In [16]:
iris.iloc[0, :]

sepal_length       5.1
sepal_width        3.5
petal_length       1.4
petal_width        0.2
species         setosa
Name: 0, dtype: object

In [17]:
iris.loc[0]

sepal_length       5.1
sepal_width        3.5
petal_length       1.4
petal_width        0.2
species         setosa
Name: 0, dtype: object

Using simple ``[]`` without ``loc`` or ``iloc`` can work but not recommended.

## Iterate Rows

In [18]:
for i, row in iris.iterrows():
    if i == 0:
        print(i)
        print(row)
        row["test"] = 999
        print()
        print(row)

print()
print(iris.iloc[0])

0
sepal_length       5.1
sepal_width        3.5
petal_length       1.4
petal_width        0.2
species         setosa
Name: 0, dtype: object

sepal_length       5.1
sepal_width        3.5
petal_length       1.4
petal_width        0.2
species         setosa
test               999
Name: 0, dtype: object

sepal_length       5.1
sepal_width        3.5
petal_length       1.4
petal_width        0.2
species         setosa
Name: 0, dtype: object

How do we modify them actually?

In [19]:
# Initialize
iris["test"] = None
for i, row in iris.iterrows():
    row.loc["test"] = row["sepal_length"] + row["petal_length"]

Here, ``row`` is just a copy of the original DataFrame. So nothing is changed in ``iris``:

In [20]:
iris.head(1)

   sepal_length  sepal_width  petal_length  petal_width species  test
0           5.1          3.5           1.4          0.2  setosa  None

You need to directly access to the original DataFrame:

In [21]:
# Initialize
iris["test"] = None
for i, row in iris.iterrows():
    iris.at[i, "test"] = row["sepal_length"] + row["petal_length"]

In [22]:
iris.head(1)

   sepal_length  sepal_width  petal_length  petal_width species test
0           5.1          3.5           1.4          0.2  setosa  6.5

Things go well in this case with ``loc``, but I used ``at``.
* ``loc`` is slower, but you can access to multiple locations
* ``at`` is quicker, but you can access to only one single location

See [here](https://stackoverflow.com/questions/37216485/pandas-at-versus-loc)

But in this kind of simple summation case, you can just do

In [23]:
iris["test"] = iris["sepal_length"] + iris["petal_length"]
iris.head(1)

   sepal_length  sepal_width  petal_length  petal_width species  test
0           5.1          3.5           1.4          0.2  setosa   6.5

**You don't even need that initialization.**

The iteration is useful when you do some complicated jobs:

In [24]:
# Initialize
iris["test"] = None
for i, row in iris.iterrows():
    length_sum = row["sepal_length"] + row["petal_length"]
    if length_sum > 0.1:
        length_sum = 0.1
    iris.at[i, "test"] = length_sum

## Drop

pandas usually generate annoying index (``0, 1, ..., N``) columns etc. You can drop them by

In [25]:
iris.drop(columns=["test"], inplace=True)

# Identical to 
# iris = iris.drop(columns=["test"])

iris.head(1)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa

NaN's can be removed by ``.dropna()``:

In [26]:
iris_nan = iris.copy()
iris_nan.loc[:2] = None
iris_nan.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           NaN          NaN           NaN          NaN    None
1           NaN          NaN           NaN          NaN    None
2           NaN          NaN           NaN          NaN    None
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [27]:
iris_nan.dropna().head()  # try .reset_index() by yourself

   sepal_length  sepal_width  petal_length  petal_width species
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa

## Sorting

In [28]:
iris.sort_values(by=["sepal_width", "petal_length"]).head()

     sepal_length  sepal_width  petal_length  petal_width     species
60            5.0          2.0           3.5          1.0  versicolor
62            6.0          2.2           4.0          1.0  versicolor
68            6.2          2.2           4.5          1.5  versicolor
119           6.0          2.2           5.0          1.5   virginica
41            4.5          2.3           1.3          0.3      setosa

As can be seen, the index numbers are kept but "ordered" based on the column.

Reset it:

In [29]:
iris_sort = iris.sort_values(by="sepal_width")
iris_sort.reset_index(inplace=True, drop=True)
iris_sort.head()

   sepal_length  sepal_width  petal_length  petal_width     species
0           5.0          2.0           3.5          1.0  versicolor
1           6.0          2.2           4.0          1.0  versicolor
2           6.0          2.2           5.0          1.5   virginica
3           6.2          2.2           4.5          1.5  versicolor
4           4.5          2.3           1.3          0.3      setosa

See what happens if ``drop = False``.

## Grouping

In [30]:
grouped = iris.groupby("species")

In [31]:
print(type(grouped))

<class 'pandas.core.groupby.generic.DataFrameGroupBy'>

In [32]:
grouped.get_group("setosa").head(1)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa

In [33]:
for name, group in grouped:
    print(name)
    print(group.describe())
    print()

setosa
       sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000    50.000000
mean        5.00600     3.428000      1.462000     0.246000
std         0.35249     0.379064      0.173664     0.105386
min         4.30000     2.300000      1.000000     0.100000
25%         4.80000     3.200000      1.400000     0.200000
50%         5.00000     3.400000      1.500000     0.200000
75%         5.20000     3.675000      1.575000     0.300000
max         5.80000     4.400000      1.900000     0.600000

versicolor
       sepal_length  sepal_width  petal_length  petal_width
count     50.000000    50.000000     50.000000    50.000000
mean       5.936000     2.770000      4.260000     1.326000
std        0.516171     0.313798      0.469911     0.197753
min        4.900000     2.000000      3.000000     1.000000
25%        5.600000     2.525000      4.000000     1.200000
50%        5.900000     2.800000      4.350000     1.300000
75%        6.300000     3.000000      4.600000     1.500000
max        7.000000     3.400000      5.100000     1.800000

virginica
       sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000     50.00000
mean        6.58800     2.974000      5.552000      2.02600
std         0.63588     0.322497      0.551895      0.27465
min         4.90000     2.200000      4.500000      1.40000
25%         6.22500     2.800000      5.100000      1.80000
50%         6.50000     3.000000      5.550000      2.00000
75%         6.90000     3.175000      5.875000      2.30000
max         7.90000     3.800000      6.900000      2.50000

## Masking and Special Operations

In [34]:
mask = iris["sepal_width"] < 3.3
iris.loc[mask].head()  # Try .reset_index() by yourself

   sepal_length  sepal_width  petal_length  petal_width species
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

There are many of the things you can do for ``str``, e.g., ``.split`` or ``.replace``, etc.

You can do that on all the ``str``s in a column without for loop in pandas:

In [35]:
setosa_mask = iris["species"].str.startswith("seto")
iris.loc[setosa_mask].head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [36]:
iris["species"].str.replace("seto", "testingtesting").head()

0    testingtestingsa
1    testingtestingsa
2    testingtestingsa
3    testingtestingsa
4    testingtestingsa
Name: species, dtype: object